In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## How many male and female were at ship?

In [4]:
male_female_counts = data['Sex'].value_counts()
male_female_counts

male      577
female    314
Name: Sex, dtype: int64

In [5]:
how_many_male_female_file = open('./res/how_many_male_female.txt', 'w')
answer = str(male_female_counts['male']) + ' ' + str(male_female_counts['female'])
how_many_male_female_file.write(answer)
how_many_male_female_file.close()

# How many passengers survived?

In [13]:
how_many_passengers_survived_pr = "%.2f" % (data['Survived'].sum() / data['Survived'].size * 100)
print('How many passengers survived?', how_many_passengers_survived_pr)
how_many_passengers_survived = open('./res/how_many_passengers_survived.txt', 'w')
how_many_passengers_survived.write( str(how_many_passengers_survived_pr) )
how_many_passengers_survived.close()

How many passengers survived? 38.38

# What portion of all has 1st class passengers?

In [14]:
pr = (data[data.Pclass == 1].index.size) / (data.index.size) * 100
first_class_passenger_count = round(pr, 2)
print('What portion of all has 1st class passengers?', first_class_passenger_count)
first_class_passenger = open('./res/first_class_passenger.txt', 'w')
first_class_passenger.write( str(first_class_passenger_count) )
first_class_passenger.close()

What portion of all has 1st class passengers? 24.24

# What age was a passengers?

In [8]:
age_mean = round(data['Age'].mean(), 2)
age_dedian = round(data['Age'].median(), 2)
print ('What age was a passengers? Mean = ', age_mean, 'Median = ', age_dedian)
what_age_was_a_passengers = open('./res/what_age_was_a_passengers.txt', 'w')
what_age_was_a_passengers.write( str(age_mean) + ' ' + str(age_dedian) )
what_age_was_a_passengers.close()

What age was a passengers? Mean =  29.7 Median =  28.0

# What is the SibSp/Parch correlation?

In [9]:
corr = str( round( data['SibSp'].corr(data['Parch']), 2 ) )
print ('What is the SibSp/Parch correlation?', corr)
what_is_the_SibSp_and_Parch_correlation = open('./res/what_is_the_SibSp_and_Parch_correlation.txt', 'w')
what_is_the_SibSp_and_Parch_correlation.write(corr)
what_is_the_SibSp_and_Parch_correlation.close()

What is the SibSp/Parch correlation? 0.41

# What is a most popular female name?

In [10]:
# U should load 'nameparser'
# https://pypi.python.org/pypi/nameparser
from nameparser import HumanName
from collections import Counter

In [11]:
def getName(human_name):
    if (human_name.first != ''):
        # Thorne, Mrs. Gertrude Maybelle
        return human_name.first
    elif (human_name.last != ''):
        # Osman, Mrs. Mara
        return human_name.last
    else:
        # Sultana
        #print ('Oops! Cant pasrse this name:')
        return str(human_name)

def getFemaleName(full_name):
    if (full_name == ''):
        print ('Oops, empty name!')
    name = HumanName(full_name)
    # Reynaldo, Ms. Encarnacion
    # Keane, Miss. Nora A
    # Osman, Mrs. Mara
    # Boulos, Mrs. Joseph (Sultana)
    # Bishop, Mrs. Dickinson H (Helen Walton)
    # Thorne, Mrs. Gertrude Maybelle
    if (name.title == 'Mrs.'): # married?
        if (name.nickname != ''): # has own and hasband names? "Bishop, Mrs. Dickinson H (Helen Walton)"
            own_name = HumanName(name.nickname)
            return getName(own_name)
    return getName(name)

In [12]:
female_passengers = data[data.Sex == 'female']
names = [getFemaleName(name) for name in female_passengers['Name'] if getFemaleName(name)]
print ('Most popular female name is ')
print (Counter(names).most_common(3))
most_popular_female_name = open('./res/most_popular_female_name.txt', 'w')
#most_popular_female_name.write( Counter(names).most_common(1)[0][0] )
most_popular_female_name.close()

Most popular female name is
[('Anna', 15), ('Mary', 14), ('Elizabeth', 11)]